@import "variables";
@import "mixins";

:root
{
    width: 100vw;
    height: 100vh;
    background-color: $color-background-primary;
    font-family: $font-family-default;
    font-size: $font-size-default;
}

* 
{
    margin: 0;
    padding: 0;
    font-size: $font-size-heading;
}

/* GENERAL */
/* GENERAL */
/* GENERAL */
body, #app, .container-app, .container-landing, .container-photo, .container-crop, .container-score
{
    width: 100%;
    height: 100%;
}

#canvas
{
    display: none;
}

.icon
{
    width: $icon-size-default;
    height: $icon-size-default;
    fill: $color-text-primary;
}

.icon--big
{
    width: $icon-size-big;
    height: $icon-size-big;
    padding: $padding-minimal;
}

.text-icon
{
    padding: $padding-minimal;
    font-size: $font-size-heading;
}

.link-fake
{
    cursor: pointer;
}

.top-left
{
    position: absolute;
    top: $positioning-default;
    left: $positioning-default;
}

.top-center
{
    position: absolute;
    top: $positioning-default;
    left: 50%;
    transform: translateX(-50%);
}

.top-right
{
    position: absolute;
    top: $positioning-default;
    right: $positioning-default;
}

input[type="file"] {
    display: none;
}

.flex-wrap-always
{
    flex: 0 0 100%;
}

.container-icon-text
{
    display: flex;
    align-items: center;
}

.container-icon-text-link
{
    display: flex;
    align-items: center;
}

/* CONTENT */
/* CONTENT */
/* CONTENT */
.container-app
{
    overflow: hidden;
}

.container-landing
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-photo
{
    position: relative;
    background-color: $color-background-primary;
    z-index: $depth-video;
}

#video
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.container-board
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc((100% - 90rem) / 2);
    left: calc((100% - 90rem) / 2);
    width: 90rem;
    height: 90rem;
}

.container-board--19x19
{
    top: calc((100% - (90rem - (90rem / 19))) / 2);
    left: calc((100% - (90rem - (90rem / 19))) / 2);
}

.container-board--13x13
{
    top: calc((100% - (90rem - (90rem / 13))) / 2);
    left: calc((100% - (90rem - (90rem / 13))) / 2);
}

.container-board--9x9
{
    top: calc((100% - (90rem - (90rem / 9))) / 2);
    left: calc((100% - (90rem - (90rem / 9))) / 2);
}

.board-row
{
    display: flex;
    flex-direction: row;
    flex: 1;

    &:not(:first-child):not(:last-child)
    {
        &>.board-column>.board-point
        {
            top: -20%;
        }
    }

    &:last-child
    {
        &>.board-column>.board-point
        {
            top: -40%;
        }

        &>.board-column>.board-connection--down
        {
            width: 0;
            height: 0;
        }

        &>.board-column:nth-last-child(2)>.board-connection--right
        {
            width: 110%;
        }
    }
}

.board-column
{
    position: relative;

    &:not(:first-child):not(:last-child)
    {
        &>.board-point
        {
            left: -20%;
        }
    }

    &:last-child
    {
        &>.board-point
        {
            left: -40%;
        }

        &>.board-connection--right
        {
            width: 0;
            height: 0;
        }
    }
}

.board-column--19x19
{
    flex: 1 1 calc(100% / 19);
}

.board-column--13x13
{
    flex: 1 1 calc(100% / 13);
}

.board-column--9x9
{
    flex: 1 1 calc(100% / 9);
}

.board-point
{
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    cursor: pointer;
    z-index: $depth-board-point;

    &.board-point--star
    {
        background-color: $color-object-primary;
    }
}

.board-connection
{
    display: inline-block;
    position: absolute;
    background-color: $color-object-primary;

    &.board-connection--right
    {
        width: 100%;
        height: 10%;
    }

    &.board-connection--down
    {
        width: 10%;
        height: 100%;
    }
}