@import "variables";
@import "mixins";

:root
{
    width: 100%;
    height: 100%;
    color: $color-text-primary;
    background-color: $color-background-primary;
    font-family: $font-family-default;
    font-size: $font-size-default;
}

* 
{
    margin: 0;
    padding: 0;
}

/* MEDIA */
/* MEDIA */
/* MEDIA */
@media screen and (orientation: landscape)
{
    .video
    {
        width: 100%;
    }
}

@media screen and (orientation: portrait)
{
    .video
    {
        height: 100%;
    }
}

/* GENERAL */
/* GENERAL */
/* GENERAL */
body, #app, .container-app, .container-landing, .container-photo, .container-crop, .container-processing, .container-score
{
    width: 100%;
    height: 100%;
}

.spritesheet
{
    display: none;
}

.icon
{
    width: $icon-size-default;
    height: $icon-size-default;
    fill: $color-text-primary;
}

.icon--big
{
    width: $icon-size-big;
    height: $icon-size-big;
    min-width: $icon-size-big;
    min-height: $icon-size-big;
    max-width: $icon-size-big;
    max-height: $icon-size-big;
    padding: $padding-minimal;
}

.text-icon
{
    padding: $padding-minimal;
    font-size: $font-size-title;
    user-select: none;
}

.link-fake
{
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.input
{
    position: relative;
    left: 13rem;
    width: calc(5 * #{$font-size-title});
    max-width: calc(5 * #{$font-size-title});
    padding: $padding-minimal 0;
    margin-bottom: $margin-minimal;
    border: none;
    outline: none;
    border-bottom: 0.3rem solid $color-text-primary;
    color: $color-text-primary;
    background-color: $color-background-primary;
    box-shadow: 0 0.3rem $color-shadow;
    font-family: $font-family-default;
    font-size: $font-size-title;
}

.list-item
{
    list-style: none;
    margin-bottom: $margin-minimal;
}

.visible
{
    display: block;
}

.container-icon-text
{
    display: flex;
    align-items: center;
}

.container-icon-text-link
{
    display: flex;
    align-items: center;
}

/* SHARED CONTENT */
/* SHARED CONTENT */
/* SHARED CONTENT */
.loading
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-accent-primary;
    z-index: $depth-loading;

    &.loading--visible
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.loading-message
{
    position: absolute;
    bottom: $positioning-default;
    font-size: $font-size-title;
}

.stone
{
    display: inline-block;
    width: $icon-size-big;
    height: $icon-size-big;
    border-radius: 50%;

    &.stone--black
    {
        animation: 5s infinite stoneBlack;
        margin-right: calc(#{$icon-size-big} / 2);
        background-color: $color-text-primary;

        @keyframes stoneBlack {
            0% {
                transform: translateX(0) translateY(0);
            }

            25% {
                transform: translateX(100%) translateY(-100%);
            }

            50% {
                transform: translateX(200%) translateY(0);
            }

            75% {
                transform: translateX(100%) translateY(100%);
            }

            100% {
                transform: translateX(0) translateY(0);
            }
        }
    }

    &.stone--white
    {
        animation: 5s infinite stoneWhite;
        margin-left: calc(#{$icon-size-big} / 2);
        background-color: $color-text-secondary;

        @keyframes stoneWhite {
            0% {
                transform: translateX(0) translateY(0);
            }

            25% {
                transform: translateX(-100%) translateY(100%);
            }

            50% {
                transform: translateX(-200%) translateY(0);
            }

            75% {
                transform: translateX(-100%) translateY(-100%);
            }

            100% {
                transform: translateX(0) translateY(0);
            }
        }
    }
}

.canvas
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: $depth-source;

    &.canvas--visible
    {
        display: block;
    }
}

.close
{
    position: absolute;
    top: $positioning-default;
    right: $positioning-default;
    z-index: $depth-overlay;

    &.close--overlay
    {
        color: $color-text-secondary;

        &>.icon 
        {
            fill: $color-text-secondary;
        }
    }
}

/* CONTENT */
/* CONTENT */
/* CONTENT */
.container-app
{
    overflow: hidden;
}

.container-landing
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-photo
{
    position: relative;
    background-color: $color-background-primary;
}

.camera
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 

    &.camera--info
    {
        display: none;
        color: $color-text-secondary;
        z-index: $depth-overlay;
        @include animation-fade-out();
    
        &>.icon 
        {
            fill: $color-text-secondary;
        }
    }
}

.video
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: $depth-source;

    &.video--playing
    {
        display: block;

        &~.close
        {
            color: $color-text-secondary;

            &>.icon 
            {
                fill: $color-text-secondary;
            }
        }

        &~.camera--start
        {
            display: none;
        }

        &~.camera--info
        {
            display: flex;
        }
    }
}

.crop
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &.crop--overlay
    {
        color: $color-text-secondary;
        z-index: $depth-overlay;
    
        &>.icon 
        {
            fill: $color-text-secondary;
        }
    }
    

    &.crop--info {
        @include animation-fade-out();
    }

    &.crop--start
    {
        top: auto;
        bottom: $positioning-default;
        transform: translateX(-50%); 
        z-index: $depth-crop;
    }
}

.detections
{
    position: absolute;
    overflow: hidden;
    z-index: $depth-detections;
}

.detection
{
    position: absolute;

    &.detection--black
    {
        border: 0.3rem solid blue;
    }

    &.detection--white
    {
        border: 0.3rem solid red;
    }
}

.container-board
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc((100% - 90rem) / 2);
    left: calc((100% - 90rem) / 2);
    width: 90rem;
    height: 90rem;
}

.container-board--19x19
{
    top: calc((100% - (90rem - (90rem / 19))) / 2);
    left: calc((100% - (90rem - (90rem / 19))) / 2);
}

.container-board--13x13
{
    top: calc((100% - (90rem - (90rem / 13))) / 2);
    left: calc((100% - (90rem - (90rem / 13))) / 2);
}

.container-board--9x9
{
    top: calc((100% - (90rem - (90rem / 9))) / 2);
    left: calc((100% - (90rem - (90rem / 9))) / 2);
}

.board-row
{
    display: flex;
    flex-direction: row;
    flex: 1;

    &:not(:first-child):not(:last-child)
    {
        &>.board-column>.board-point
        {
            top: -20%;
        }
    }

    &:last-child
    {
        &>.board-column>.board-point
        {
            top: -40%;
        }

        &>.board-column>.board-connection--down
        {
            width: 0;
            height: 0;
        }

        &>.board-column:nth-last-child(2)>.board-connection--right
        {
            width: 110%;
        }
    }
}

.board-column
{
    position: relative;

    &:not(:first-child):not(:last-child)
    {
        &>.board-point
        {
            left: -20%;
        }
    }

    &:last-child
    {
        &>.board-point
        {
            left: -40%;
        }

        &>.board-connection--right
        {
            width: 0;
            height: 0;
        }
    }
}

.board-column--19x19
{
    flex: 1 1 calc(100% / 19);
}

.board-column--13x13
{
    flex: 1 1 calc(100% / 13);
}

.board-column--9x9
{
    flex: 1 1 calc(100% / 9);
}

.board-point
{
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    cursor: pointer;
    z-index: $depth-board-point;

    &.board-point--star
    {
        background-color: $color-object-primary;
    }
}

.board-connection
{
    display: inline-block;
    position: absolute;
    background-color: $color-object-primary;

    &.board-connection--right
    {
        width: 100%;
        height: 10%;
    }

    &.board-connection--down
    {
        width: 10%;
        height: 100%;
    }
}