@import "variables.scss";

:root 
{
    width: 100vw;
    height: 100vh;
    background-color: $color-light-primary;
    font-size: $font-size-default;
}

/* GENERAL */
/* GENERAL */
/* GENERAL */
.icon
{
    width: $icon-size-default;
    height: $icon-size-default;
}