@mixin a-reset()
{
    color: inherit;
    text-decoration: none;
}

@mixin animation-fade-out($name)
{
    animation: $name 1s 1 2.5s forwards;

    @keyframes #{$name} {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            visibility: hidden;
        }
    }
}

@mixin slider()
{
    input[type=range] 
    {
        -webkit-appearance: none;
        width: 100%;
    }
    
    input[type=range]:focus 
    {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track 
    {
        width: 100%;
        height: 2rem;
        cursor: pointer;
        background: $color-slider;
        border-radius: 50px;
        border: none;
    }

    input[type=range]::-webkit-slider-thumb 
    {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        margin-top: -1.5rem;
        background: $color-crop;
        border-radius: 50%;
        border: none;
        -webkit-appearance: none;
    }
      
    input[type=range]:focus::-webkit-slider-runnable-track 
    {
        background: $color-slider;
    }

    input[type=range]::-moz-range-track 
    {
        width: 100%;
        height: 2rem;
        cursor: pointer;
        background: $color-slider;
        border-radius: 50%;
        border: none;
    }

    input[type=range]::-moz-range-thumb 
    {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        background: $color-crop;
        border-radius: 50%;
        border: none;
    }
      
    input[type=range]::-ms-track 
    {
        width: 100%;
        height: 2rem;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
      
    input[type=range]::-ms-fill-lower 
    {
        background: $color-slider;
        border-radius: 50%;
        border: none;
    }
      
    input[type=range]::-ms-fill-upper 
    {
        background: $color-slider;
        border-radius: 50%;
        border: none;
    }
      
    input[type=range]::-ms-thumb 
    {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        background: $color-crop;
        border-radius: 50%;
        border: none;
    }
      
    input[type=range]:focus::-ms-fill-lower 
    {
        background: $color-slider;
    }
      
    input[type=range]:focus::-ms-fill-upper 
    {
        background: $color-slider;
    }
}