/* Colors */
$color-background-primary: #FDFDFD;
$color-background-secondary: #E3B579;
$color-text-primary: #2F2F2F;
$color-text-secondary: #FDFDFD;
$color-object-primary: #2F2F2F;
$color-object-secondary: #FDFDFD;
$color-object-tertiary: #F44336;
$color-accent-primary: #03A9F4;
$color-shadow: lightgrey;
$color-crop: #FFC107;

/* Font */
$font-family-default: "Nunito", sans-serif;
$font-size-default: 1vmin;
$font-size-title: 5rem;
$font-size-heading: 2.5rem;
$font-size-body: 1.25rem;

/* Line */
$line-height-tight: 1.25;

/* Positioning */
$positioning-default: 2rem;
$positioning-minimal: 1rem;

/* Padding */
$padding-default: 2rem;
$padding-minimal: 1rem;

/* Margin */
$margin-default: 2rem;
$margin-minimal: 1rem;

/* Border */
$border-width-default: 2px;
$border-radius-default: 1rem;

/* Icons */
$icon-size-default: 2.5rem;
$icon-size-big: 10rem;

/* Depth */
$depth-loading: 30;
$depth-overlay-ui: 25;
$depth-overlay-detections: 20;
$depth-crop: 20;
$depth-overlay: 15;
$depth-fader: 15;
$depth-source: 10;
$depth-board-stone: 10;
$depth-board-point: 5;