/* ROOT */
/* ROOT */
/* ROOT */
:root 
{
    /* Colors */
    --color-dark-primary: #455A64;
    --color-default-primary: #607D8B;
    --color-light-primary: #CFD8DC;
    --color-text-primary: #FFFFFF;
    --color-accent: #03A9F4;
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-divider: #BDBDBD;

    /* Font */
    --font-size-default: 10px;
    --font-size-input: 2rem;

    /* Padding */
    --padding-default: 2rem;
    --padding-input: 1rem;

    /* Margin */
    --margin-default: 2rem;

    /* Border */
    --border-width-default: 2px;

    /* Icons */
    --icon-size-default: 2.5rem;

    /* Dimensions */

    /* General */
    width: 100vw;
    height: 100vh;
    background-color: var(--color-light-primary);
    font-size: var(--font-size-default);
}

/* GENERAL */
/* GENERAL */
/* GENERAL */
.icon
{
    width: var(--icon-size-default);
    height: var(--icon-size-default);
}

/* CONTENT */
/* CONTENT */
/* CONTENT */